@media (min-width: 1024px) {
  .column__description-lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 720px;
    min-height: 200px;
    margin: auto;
  }

  .content__column-title_lead {
    font-size: 96px;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 32px;
  }

  .content__column-subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 64px;
  }

  .content__column-image {
    width: calc(100% - 296px);
    height: 615px;
    padding-left: 148px;
  }

  .column__description-secondary {
    display: flex;
    flex-direction: column;
    max-width: 830px;
    min-height: 607px;
    padding: 92px 302px 132px 148px;
  }

  .content__column-title_secondary {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.07;
    margin-bottom: 40px;
  }

  .column__quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .column__quote-cite {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    text-align: right;
    margin-bottom: 32px;
  }

  .column__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }
}
