@media (min-width: 1024px) {
  .column__description-lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 560px);
    min-height: 200px;
    margin: auto;
  }

  .content__column-title_lead {
    font-size: 96px;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 32px;
  }

  .content__column-subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 64px;
  }

  .content__column-image {
    width: calc(100% - 296px);
    height: 615px;
    padding-left: 148px;
  }

  .column__description-secondary {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 450px);
    min-height: 607px;
    padding: 92px 302px 132px 148px;
  }

  .content__column-title_secondary {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.07;
    margin-bottom: 40px;
  }

  .column__quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .column__quote-cite {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    text-align: right;
    margin-bottom: 32px;
  }

  .column__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }
}

@media (min-width: 544px) and (max-width: 1024px) {
  .column__description-lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 48px);
    min-height: 158px;
    margin: auto;
  }

  .content__column-title_lead {
    font-size: 75px;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
    width: calc(100% - 238px);
    margin-bottom: 25px;
  }

  .content__column-subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
  }

  .content__column-image {
    width: 100%;
    height: 480px;
  }

  .column__description-secondary {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 48px);
    min-height: 573px;
    padding-left: 24px;
  }

  .content__column-title_secondary {
    font-size: 45px;
    font-weight: 900;
    line-height: 1.09;
    margin: 90px 0 50px;
  }

  .column__quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
  }

  .column__quote-cite {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    text-align: right;
    margin-bottom: 32px;
  }

  .column__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 88px;
  }
}

@media (min-width: 320px) and (max-width: 544px) {
  .column__description-lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 32px);
    min-height: 144px;
    margin: auto;
  }

  .content__column-title_lead {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
    width: calc(100% - 92px);
    margin-bottom: 16px;
  }

  .content__column-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 40px;
  }

  .content__column-image {
    width: 100%;
    height: 200px;
  }

  .column__description-secondary {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 32px);
    min-height: 1033px;
    padding-left: 16px;
  }

  .content__column-title_secondary {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.09;
    margin: 64px 0 40px;
  }

  .column__quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  .column__quote-cite {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.42;
    text-align: right;
    margin-bottom: 32px;
  }

  .column__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    margin-bottom: 64px;
  }
}
