@media (min-width: 1024px) {
  .content__column_description_lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 560px);
    min-height: 200px;
    margin: auto;
  }

  .content__column_title_lead {
    font-size: 96px;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
    margin-bottom: 32px;
  }

  .content__column-subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 64px;
  }

  .content__column-image {
    width: calc(100% - 296px);
    height: 615px;
    padding-left: 148px;
  }

  .content__column_description_secondary {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 450px);
    min-height: 607px;
    padding: 92px 302px 132px 148px;
  }

  .content__column_title_secondary {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.07;
    margin-bottom: 40px;
  }

  .content__column-quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .content__column-cite {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    text-align: right;
    margin-bottom: 32px;
  }

  .content__column-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }

  .content__gallery-container {
    display: grid;
    max-width: calc(100vw - 96px);
    padding-left: 43px;
    padding-right: 53px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px 16px;
  }

  .content__gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .content__places {
    max-width: calc(100vw - 294px);
    height: auto;
    padding: 92px 145px 131px 148px;
  }

  .content__places-gales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "title artists"
      "image text";
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
  }

  .content__places-berea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "title artists"
      "image text";
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
  }

  .content__places-muramvya {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "title artists"
      "image text";
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 55px;
  }

  .content__places-piedecuesta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "title artists"
      "image text";
    column-gap: 40px;
    row-gap: 48px;
  }

  .content__places-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    text-align: left;
    grid-area: title;
  }

  .content__places-image {
    grid-area: image;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 5px 5px 10px #000000;
    opacity: 1;
    margin-bottom: 48px;
  }

  .content__places-image:hover {
    opacity: 0.5;
  }

  .content__places-artists {
    grid-area: artists;
    text-align: left;
    align-self: end;
  }

  .content__places-artists__title {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.21;
    letter-spacing: 0.12em;
  }

  .content__places-artists__names {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
  }

  .content__places_text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 25px;
  }

  .content__places-button {
    color: #ffffff;
    width: 289px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #000000;
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
    border: none;
    grid-area: image;
  }

  .content__places-button:hover {
    background: linear-gradient(
      90deg,
      rgba(2, 120, 254, 0.25) 0%,
      rgba(0, 58, 123, 0.25) 99.98%
    );
  }

  .content__places-link {
    color: inherit;
    text-decoration: none;
  }
}

@media (min-width: 544px) and (max-width: 1024px) {
  .content__column_description_lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 48px);
    min-height: 158px;
    margin: auto;
  }

  .content__column_title_lead {
    font-size: 75px;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
    width: calc(100% - 238px);
    margin-bottom: 25px;
  }

  .content__column-subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
  }

  .content__column-image {
    width: 100%;
    height: 480px;
  }

  .content__column_description_secondary {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 48px);
    min-height: 573px;
    padding-left: 24px;
  }

  .content__column_title_secondary {
    font-size: 45px;
    font-weight: 900;
    line-height: 1.09;
    margin: 90px 0 50px;
  }

  .content__column-quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
  }

  .content__column-cite {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    text-align: right;
    margin-bottom: 32px;
  }

  .content__column-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 88px;
  }

  .content__gallery-container {
    display: grid;
    max-width: calc(100vw - 48px);
    padding-left: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px 16px;
  }

  .content__gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 320px) and (max-width: 544px) {
  .content__column_description_lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 32px);
    min-height: 144px;
    margin: auto;
  }

  .content__column_title_lead {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
    width: calc(100% - 92px);
    margin-bottom: 16px;
  }

  .content__column-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 40px;
  }

  .content__column-image {
    width: 100%;
    height: 200px;
  }

  .content__column_description_secondary {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 32px);
    min-height: 1033px;
    padding-left: 16px;
  }

  .content__column_title_secondary {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.09;
    margin: 64px 0 40px;
  }

  .content__column-quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  .content__column-cite {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.42;
    text-align: right;
    margin-bottom: 32px;
  }

  .content__column-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    margin-bottom: 64px;
  }

  .content__gallery-container {
    display: grid;
    max-width: calc(100vw - 32px);
    padding-left: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    row-gap: 16px;
  }

  .content__gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
